<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144">
  <rect width="144" height="144" rx="24" fill="#087dea"/>
  <path d="M72 32v80M32 72h80" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
</svg>
