{
  "Actions": [
    {
      "UUID": @@ACTION_JSON@@,
      "Name": @@NAME_JSON@@,
      "Tooltip": "Press to change the title; reset from the Property Inspector",
      "Icon": "assets/icon.svg",
      "PropertyInspectorPath": "property-inspector/inspector.html",
      "SupportedInMultiActions": true,
      "UserTitleEnabled": false,
      "Controllers": ["Keypad"],
      "States": [
        {"Image": "assets/icon.svg", "ShowTitle": true, "TitleAlignment": "bottom", "FontSize": "18"}
      ]
    }
  ],
  "Version": "0.1.0",
  "Name": @@NAME_JSON@@,
  "Icon": "assets/icon.svg",
  "CategoryIcon": "assets/icon.svg",
  "Category": "Examples",
  "Description": @@NAME_JSON@@,
  "CodePath": "Plugin.exe",
  "SDKVersion": 1,
  "Author": "Plugin author",
  "OS": [{"Platform": "windows", "MinimumVersion": "11"}],
  "Software": {"MinimumVersion": "2.10.179.426"}
}
